body {
	margin: 0;
	overflow: hidden;
}

canvas, img {
	position: fixed;
}

canvas {
	z-index: -1;
}

#outer, #inner, #cursor {
	max-width: 100%;
	max-height: 100%;
	transform-origin: center;
}

#outer {
	z-index: 0;
}

#inner {
	z-index: 1;
}

#cursor {
	z-index: 2;
}
