html, body, #canvas, #outer, #inner, #cursor {
	touch-action: none;
}

body {
	margin: 0;
	background-color: #FFF;
	overflow: hidden;
}

canvas, img {
	position: fixed;
}

canvas {
	z-index: -1;
}

#outer, #inner, #cursor {
	max-width: 100%;
	max-height: 100%;
	transform-origin: center;
}

#outer {
	z-index: 3;
}

#inner {
	z-index: 2;
}

#cursor {
	z-index: 1;
}

details {
	position: fixed;
	right: 2ex;
	bottom: 2ex;
	z-index: 9;
	font-size: min(4vw, 17vh);
}

summary {
	cursor: pointer;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #000;
		color: #FFF;
	}
}
